.TodoSearch {
    width: 100%;
    height: 75px;
    margin: 20px 0;
    background-color: #052C38;
    border: 2px solid #118ab2;
    border-radius: 25px;;
    font-size: 24px;
    text-align: center;
    color: lightgrey;
    outline: none;
}

.TodoSearch::placeholder {
    color: rgb(116, 116, 116);
}

.TodoSearch:focus {
    border-color: #FFD166;
}

.TodoSearch:disabled {
    opacity: 25%;
}