.TodoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #118ab2;
    width: 100%;
    margin: 25px 0;
    min-height: 65px;
    padding: 5px 0;
    border-radius: 25px;
    align-items: center;
}

.TodoItem-icons {
    margin: 0 30px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.icon-Check--active {
    color: #06D6A0;
}

.icon-Check:hover {
    color: #06D6A0;
}

.icon-Delete:hover {
    color: #EF476F;
}