* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #073B4C;
  color: lightgrey;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  max-width: 580px;
  margin: 0 auto;
}

#root {
  margin: 0 24px;
  position: relative;
}
